@import 'antd/dist/antd.less';

:root {
  --default-background: #141414;
}

body {
  background: var(--default-background);
}

* {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

#Grid {
  margin: 10px;

  & > div {
    width: 100%;
  }
}

.panel {
  background: var(--default-background);
  border-radius: 2px;
  padding: 5px;
  color: white;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.yr-weather-symbol {
  width: 32px;
  height: 32px;
}

dt {
  font-size: 0.9em;
  color: #a8a9aa;
}

dd {
  padding: 5px 6px;
  border-radius: 5px;
  background-color: #266567;
  margin: 2px;
  text-align: right;
  font-size: 13px;
}

.multi-gauge-container canvas {
  display: block;
  margin: 0px auto;
}

.ant-modal-header {
  display: none;
}
.ant-modal-body {
  padding: 20px 10px;
}
.ant-modal-footer {
  display: none;
}
.ant-modal-content,
.ant-modal-header,
.ant-modal-footer {
  background: var(--default-background);
}

.ant-modal-close-x {
  color: white;
}
