@import 'antd/dist/antd.less';

body {
  background: #141414;
}

* {
  user-select: none;
}

#Grid {
  margin: 10px;

  & > div {
    width: 100%;
  }
}

.panel {
  background: #141414;
  border-radius: 2px;
  padding: 5px;
  color: white;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.yr-weather-symbol {
  width: 32px;
  height: 32px;
}

dt {
  font-size: 0.9em;
  color: #a8a9aa;
}

dd {
  padding: 5px 6px;
  border-radius: 5px;
  background-color: #266567;
  margin: 2px;
  text-align: right;
  font-size: 13px;
}
